@model JsonResult
@model DCHotelManagerCore.Lib.Models.Persistent.Hotel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<input id="NameTextBox" type="text" />
<input id="Button1" type="button" value="button" formaction="create" />